[submodule "vbaby_api"]
        path = vbaby_api
        url = https://github.com/tyanhly/vbaby_api.git
[submodule "vbaby_mobile"]
        path = vbaby_mobile
        url = https://github.com/tyanhly/vbaby_mobile.git
